# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NestJS
dist/
coverage/

# Vite
src/web/dist/

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Misc
README.md
DESIGN.md
.github/
flyonui/
playwright-report/
test-results/
